
@font-face {
    font-family: 'Lemon/Milk';
    src: url('http://www.fontsaddict.com/fontface/lemonmilk.ttf');
}


.lienzo-principal{
    height: 625px;
    width: 100%;
    background: url('../src/game/background/Tableros_Orbis.svg');
    background-repeat: no-repeat;
}

.tablero-game{
    position: absolute;
    height: 465px;
    width: 500px;
    background-image: url('../src/game/background/tablero-game.svg');
    background-repeat: no-repeat;
    top: 62px;
    left: 33.2%;
}

.banner{
    background: url('../src/game/background/banner-1.png');
    background-repeat: no-repeat;
    height: 366px;
    width: 365px;
    position: relative;
    left: 10%;
    top: 50px;
}


.personaje{
    position: absolute;
    height: 170px;
    width: 128px;
    background-image: url('../src/game/sprites/Persons-sprites1.png');
    background-repeat: no-repeat;
    left: 30%;
    margin-top: 120px;
    
}

.animation-personaje-show{
    animation: correr 1s steps(8) infinite;
}

@keyframes correr{
    0%{
        background-position: 0;
    }
    100%{
        background-position: -1024px;
    }
}

.initial{
    position: relative;
    background: url('../src/game/background/sketch_ORBIS.svg');
    background-repeat: no-repeat;
    height: 550px;
    width: 100%;
}

.button-play{
    cursor: pointer;
    height: 350px;
    width: 400px;
    background-repeat: no-repeat;
    position: absolute;
    top: 40%;
    left: 32%;
}

.mensaje{
    background: url('../src/game/components/messageUp.png');
    background-repeat: no-repeat;
    height: 75px;
    width: 160px;
    left: 19%;
    top: 80px;
    position: absolute;
}

:root{
    --sheet-position: 10px;
}

.ficha{
    background: url('../src/game/components/sheet.png');
    background-repeat: no-repeat;
    height: 28px;
    width: 28px;
    margin-top: 10px;
    margin-left: var(--sheet-position);
    position: absolute;
}

.animation-sheet{
    animation-name: moveSheet;
    animation-duration: 2s;
}

@keyframes moveSheet{
    0%{
        margin-left: 10px;
    }
    15%{
        margin-left: calc(var(--sheet-position) + 20px);
    }
    50%{
        margin-left: calc(var(--sheet-position) + 30px);
    }
    75%{
        margin-left: calc(var(--sheet-position) + 40px);
    }
    100%{
        margin-left: calc(var(--sheet-position) + 50px);
    }
}

.stark{
    background: url('../src/game/components/stark-3.png');
    background-repeat: no-repeat;
    position: absolute;
    height: 100px;
    width: 200px;
    left: 83%;
}

.personaje-principal{
    background: url('../src/game/background/personaje-principal-portada.svg');
    background-repeat: no-repeat;
    position: absolute;
    height: 600px;
    width: 200px;
    left: 8%;
    top: 72px;
}
.dialog{
    position: relative;
    left: 20px;
    top: 10px;
    font-family: 'Lemon/Milk';
}


#slider-box {
    height: 100%;
    width: 300%;
}

#slider-container {
    position: absolute;
    overflow: hidden;
    width: 365px;
    margin-top: 52px;
    left: 10%;
}

.element-blue,
.element-green,
.element-red {
    min-height: 363px;
    max-height: 100%;
    width: 100%;
}

.element-blue {
    background: url('../src/game/estaciones/brazil.svg');
}

.element-green {
    background: url('../src/game/estaciones/eeuu.svg');
}

.element-red {
    background: url('../src/game/estaciones/colombia.svg');
}

.slider-element {
    float: left;
    width: 33.333%;
}

#element1:checked ~ #slider-arrows label:nth-child(2),
#element2:checked ~ #slider-arrows label:nth-child(3),
#element3:checked ~ #slider-arrows label:nth-child(1) {
    display: block;
    float: right;
}

.animation-inicie{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

#element1:checked ~ #slider-container #slider-box {
    margin-left: 0;
}

#element2:checked ~ #slider-container #slider-box {
    margin-left: -100%;
}

#element3:checked ~ #slider-container #slider-box {
    margin-left: -200%;
}

#slider-arrows label {
    color: transparent;
    cursor: pointer;
    display: none;
    font-size: 2rem;
    height: 20px;
    width: 20px;
}

#slider-box {
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
}